@{
  Layout = "_Layout";
}

@model BetterRestaurants.Models.Cuisine

<h2>Add A QUIZZINE</h2>
@using (Html.BeginForm())
{
  <p>Type of cuisine to add:</p>
  @Html.TextBoxFor(model => model.CuisineType)<br><br>
  <input type='submit' class="button" value='Add this cuisine'>
} 